
{% extends 'main/base.html' %}
{% load static%}
{% block content %}
<main class="main">
  <div class="account__container container">
    <h1 class="account__title">Мой аккаунт</h1>
    <div class="account__content">
      <div class="tabs account-tabs" data-tabs="tab">
        <ul class="tabs__nav account-tabs__nav">
          <li class="tabs__nav-item account-tabs__nav-item">
            <button class="btn-reset tabs__nav-btn account-tabs__nav-btn account-tabs__nav-btn--account"
                    type="button"><span></span>
              Аккаунт
            </button>
          </li>
          <li class="tabs__nav-item account-tabs__nav-item">
            <button class="btn-reset tabs__nav-btn account-tabs__nav-btn" type="button"><span></span>Мои заказы</button>
          </li>
          <li class="tabs__nav-item account-tabs__nav-item">
            <button class="btn-reset tabs__nav-btn account-tabs__nav-btn" type="button"><span></span>Мои адреса</button>
          </li>
        </ul>
        <div class="tabs__content account-tabs__content">
          <div class="tabs__panel account-tabs__panel">
            <section class="my-data">
              <div class="my-data__body tabs-section-body">
                <h2 class="visually-hidden my-data__title">Аккаунт</h2>
                <ul class="list-reset my-data__list">
                  <li class="my-data__item">{{account.name}}</li>
                  <li class="my-data__item">
                    <span>Номер телефона</span>
                    {{account.phone}}
                  </li>
                  <li class="my-data__item">
                    <span>Электронная почта</span>
                    {{account.email}}
                  </li>
                  <li class="my-data__item">
                    <span>Мои контрагенты</span>
                    {{account.agents}}
                  </li>
                </ul>
                <div class="my-data__bottom">
                  <button class="btn-reset btn-red btn-red--exit" onclick="location.href='/logout'">Выйти из аккаунта</button>
                </div>
              </div>
              <div class="tabs-section-footer">
                <div class="tabs-section-footer__info">Для изменений данных вашего аккаунта обратитесь к менеджеру</div>
                <div class="tabs-section-footer__connection">Александр Иванов / +7921 123 45 67 / а.tobacco@info.ru</div>
              </div>
            </section>
          </div>
          <div class="tabs__panel account-tabs__panel">
            <section class="my-orders">
              <h2 class="visually-hidden">Аккаунт</h2>
              <div class="my-orders__body tabs-section-body">
                <div class="my-orders__filtr account-filtr">
                  <h3 class="my-orders__subtitle account-filtr__title">Фильтр</h3>
                  <div class="account-filtr__item account-filtr__calendar calendar">
                    <input type="text"
                           id="input"
                           class="calendar__input datepicker-here calendar"
                           placeholder="Календарь"
                           to=none
                           from=none
                           value=''
                           data-position="right top">
                    <img loading="lazy"
                         src="{% static 'main/img/calendar.svg' %}"
                         class="calendar__icon"
                         width="22"
                         height="22"
                         alt="calendar">
                    <img loading="lazy" src="{% static 'main/img/close-black.svg' %}" class="calendar__icon calendar__icon--close"
                         width="22" height="22" alt="calendar">
                  </div>
                  <div class="account-filtr__item account-filtr__item--type filtr__dropdown">
                    <span class="notice">{{ deliveryAddresses|length }}</span>
                    <div class="custom-select" @click="filterAccount()">
                      
                      <select>
                        <option value="0">Адрес</option>
                        <option value="0">Все</option>
                        {% for address in deliveryAddresses %}
                        <option>
                          {{ address.address }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="account-filtr__item account-filtr__item--payment filtr__dropdown">
                    <div class="custom-select" @click="filterAccount()">
                      <select>
                        <option value="0">
                          Оплата
                        </option>
                        <option value="0">
                          Все
                        </option>
                        <option value="1">
                          Оплачен
                        </option>
                        <option value="2">
                          Не оплачен
                        </option>
                        <option value="3">
                          Частично
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <table class="my-orders__table table">
                  <thead class="table__thead">
                    <tr class="table__tr">
                      <th class="table__th">Номер заказа</th>
                      <th class="table__th">Дата заказа</th>
                      <th class="table__th">Точка заказа</th>
                      <th class="table__th">Сумма заказа</th>
                      <th class="table__th">Статус оплаты</th>
                      <th class="table__th">Статус заказа</th>
                      <th class="table__th"></th>
                    </tr>
                  </thead>
                  <tbody class="table__tbody">
                    <!-- item -->
                    {% for order in orders %}
                    <tr class="table__tr item {{order.payment_status.name}} {{order.address}}" date="{{ order.time_create|date:"Y-m-d" }}" style="display:">
                      <td class="table__td">
                        <div class="my-orders__number">{{order.number}}</div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__data">
                          {{ order.time_create|date:"d.m.Y" }}
                          {% comment %} <span>12:57:28</span> {% endcomment %}
                        </div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__point">{{order.address}}</div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__sum">{{order.total}} ₽</div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__pay-state">
                          <button class="btn-reset my-orders__btn my-orders__btn--{% if order.payment_status.name == 'Не оплачен' %}red{% elif order.payment_status.name == 'Оплачен' %}green{% elif order.payment_status.name == 'Частично' %}orange{% endif %}">
                            {{order.payment_status.name}}
                          </button>
                        </div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__order-state">
                          <button class="btn-reset my-orders__btn my-orders__btn--{% if order.order_status.name == 'Доставлен' %}gray{% elif order.order_status.name == 'В процессе отгрузки' %}blue{% elif order.order_status.name == 'В обработке' %}pink{% endif %}">
                            {{order.order_status.name}}
                          </button>
                        </div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__hide">
                          <button class="btn-reset btn-hide">
                          </button>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="my-orders__footer">
                <div class="my-orders__footer-content">
                  Общая задолжность: 0 ₽
                </div>
              </div>
            </section>
          </div>
          <div class="tabs__panel account-tabs__panel">
            <section class="my-addresses">
              <div class="my-addresses__body tabs-section-body">
                <h2 class="visually-hidden">
                  Мои адресса
                </h2>
                <ul class="list-reset my-addresses__list">
                  <li class="my-addresses__item">
                    {{account.address}}
                  </li>
                </ul>
              </div>
              <div class="tabs-section-footer">
                <div class="tabs-section-footer__info">
                  Для изменений данных вашего аккаунта обратитесь к менеджеру
                </div>
                <div class="tabs-section-footer__connection">
                  Александр Иванов / +7921 123 45 67 / а.tobacco@info.ru
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}