{% extends "main/base.html" %}
{% block content %}
<main class="main">
  <div class="main__container container">
    {% include 'main/menu.html' %}
    <div class="main__content">
      <section class="banners">
        <ul class="list-reset banners__list">
          <li class="banners__item">
            <div class="banner"></div>
          </li>
          <li class="banners__item">
            <div class="banner"></div>
          </li>
          <li class="banners__item">
            <div class="banner"></div>
          </li>
          <li class="banners__item">
            <div class="banner"></div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</main>
{% endblock %}