{% extends "main/base.html" %}
{% load static %}
{% block content %}
<main class="main" id="banners" style="display">
  <div class="main__container container">
    <div class="sidebar" data-sidebar>
      <ul class="list-reset sidebar__list">
      </ul>
    </div>
    <div class="main__content">
      
      <section class="banners">
        <ul class="list-reset banners__list">
          {% for banner in banners%}
          <li class="banners__item">
            <div class="banner">
              <img src="/media/{{banner.img}}">
            </div>
          {% endfor %}
        </ul>
      </section>


     
{% endblock %}
