{% load static %}
<!DOCTYPE html>
<html lang="ru" class="page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>{{ title }}</title>
    <link rel="preload"
          href="{% static 'main/fonts/LucidaGrande-Bold.woff2' %}"
          as="font"
          type="font/woff2"
          crossorigin>
    <link rel="preload"
          href="{% static 'main/fonts/RFDewi-Bold.woff2' %}"
          as="font"
          type="font/woff2"
          crossorigin>
    <link rel="preload"
          href="{% static 'main/fonts/RFDewi-Regular.woff2' %}"
          as="font"
          type="font/woff2"
          crossorigin>
    <link rel="preload"
          href="{% static 'main/fonts/RFDewi-Semibold.woff2' %}"
          as="font"
          type="font/woff2"
          crossorigin>
    <link rel="preload"
          href="{% static 'main/fonts/RFDewi-Ultrabold.woff2' %}"
          as="font"
          type="font/woff2"
          crossorigin>
    <link rel="stylesheet" href="{% static 'main/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script defer src="{% static 'main/js/main.js' %}"></script>
    <!-- calendar -->
  </head>
  <body class="page__body">
    <div class="site-container" id="app">
      <header class="header">
        <div class="container header__container">
          <div class="header__left">
            <div class="header__logo" onclick="location.href='/banners'">
              <img loading="lazy"
                   src="{% static 'main/img/tobacco.svg' %}"
                   class="image"
                   width="156"
                   height="22"
                   alt="Tobacco">
            </div>
            <button class="btn-reset btn header__btn"
                    data-graph-path="menu"
                    data-btn-open>
              <img loading="lazy"
                   src="{% static 'main/img/hamburger.svg' %}"
                   class="image"
                   width="28"
                   height="28"
                   alt="path"/>
              <span>Каталог</span> 
            </button>
            <button class="btn-reset btn header__btn header__btn--catalog js-modal-close"
                    data-btn-close>
              <img loading="lazy"
                   src="{% static 'main/img/close.svg' %}"
                   class="image"
                   width="28"
                   height="28"
                   alt="path"/>
              <span>Каталог</span>
            </button>
            <button class="btn-reset btn btn--gray header__user" onclick="location.href='/account'"></button>
          </div>
          {% csrf_token %}
          {% if request.path != '/basket/' and request.path != '/payment/' %}
          <div class="header__right">
            <ul class="list-reset header__list">
              <li class="header__item">
                <div class="header__icon">
                  <img loading="lazy"
                       src="{% static 'main/img/path-green.svg' %}"
                       class="image"
                       width="22"
                       height="22"
                       alt="path">
                </div>
                <div class="header__info">
                  <div class="header__crit">В наличии</div>
                  <div class="header__value" id="total_stock">{* totalOne *} ₽</div>
                </div>
              </li>
              <li class="header__item">
                <div class="header__icon">
                  <img loading="lazy"
                       src="{% static 'main/img/path-orange.svg' %}"
                       class="image"
                       width="22"
                       height="22"
                       alt="path">
                </div>
                <div class="header__info">
                  <div class="header__crit">Удаленный склад</div>
                  <div class="header__value" id="total_remote">{* totalTwo *} ₽</div>
                </div>
              </li>
              <li class="header__item">
                <div class="header__icon">
                  <img loading="lazy"
                       src="{% static 'main/img/path-blue.svg' %}"
                       class="image"
                       width="22"
                       height="22"
                       alt="path">
                </div>
                <div class="header__info">
                  <div class="header__crit">В пути</div>
                  <div class="header__value" id="total_way">{* totalThree *} ₽</div>
                </div>
              </li>
            </ul>
            {% comment %} {% csrf_token %} {% endcomment %}
            <button class="btn-reset btn header__btn header__btn--path" v-on:click="createOrder()"> 
              <img loading="lazy"
                   src="{% static 'main/img/path.svg' %}"
                   class="image"
                   width="28"
                   height="28"
                   alt="path">
              <div class="header__info">
                <div class="header__crit header__crit--btn">Оформить</div>
                <div class="header__value header__value--btn" id="total">{* total *} ₽</div>
              </div>
            </button>
          </div>
          {% endif %}
        </div>
      </header>
      {% block content %}{% endblock %}
      <div class="graph-modal">
        <div class="graph-modal__container"
             role="dialog"
             aria-modal="true"
             data-graph-target="menu">
          <button class="btn-reset js-modal-close graph-modal__close"
                  aria-label="Закрыть модальное окно"></button>
          <div class="graph-modal__content menu">
            <ul class="list-reset menu__list">
              <li class="menu__item">
                <h2 class="menu__title">Аксессуары для кальяна</h2>
                {% for subcategory in subcategories %}
                  {% if subcategory.parent_category.name == "Аксессуары для кальяна" %}
                  <a class="menu__link js-modal-close" @click="redirectMenu({{subcategory.id}})">{{ subcategory.name }}</a>
                  {% endif %}
                {% endfor %}
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link menu__link--btn">Кальяны</a>
                <a href="#" class="menu__link menu__link--btn">Лимонады</a>
                <a href="#" class="menu__link menu__link--btn">Мерч</a>
              </li>
              <li class="menu__item">
                <h2 class="menu__title">
                  Табак для кальяна
                </h2>
                {% for subcategory in subcategories %}
                  {% if subcategory.parent_category.name == "Табак для кальяна" %}
                    <a class="menu__link js-modal-close" @click="redirectMenu({{subcategory.id}})">{{ subcategory.name }}</a>
                  {% endif %}
                {% endfor %}
              </li>
              <div class="menu__debug">
                <a href="#" class="menu__link menu__link--debug">Уголь</a>
                <li class="menu__debug-item">
                  <h2 class="menu__title">
                    Pod-системы
                  </h2>
                  {% for subcategory in subcategories %}
                  {% if subcategory.parent_category.name == "Pod-системы" %}
                  <a class="menu__link js-modal-close" @click="redirectMenu({{subcategory.id}})">{{ subcategory.name }}</a>
                  {% endif %}
                {% endfor %}
                </li>
              </div>
              <li class="menu__item">
                <h2 class="menu__title">
                  Жидкости
                </h2>
                {% for subcategory in subcategories %}
                  {% if subcategory.parent_category.name == "Жидкости" %}
                  <a class="menu__link js-modal-close" @click="redirectMenu({{subcategory.id}})">{{ subcategory.name }}</a>
                  {% endif %}
                {% endfor %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="{% static 'main/js/app.js' %}"></script>
 
  </body>
</html>
