{% extends "main/base.html" %}
{% load static %}
{% block content %}
<main class="main">
  <section class="ordering">
    <div class="ordering__container container">
      <h1 class="ordering__title">Оформление заказа</h1>
      <div class="ordering__content">
        {% for cat, products in order.items %}
        <div class="ordering__item ordering-item ordering-item--{% if cat == 'Аксессуары для кальяна'%}green
        {% elif cat == 'Кальяны'%}orange
        {% elif cat == 'Лимонады'%}yellow
        {% elif cat == 'Мерч'%}light-pink
        {% elif cat == 'Табак для кальяна'%}blue
        {% elif cat == 'Уголь'%}purple
        {% elif cat == 'Pod-системы'%}red
        {% elif cat == 'Жидкости'%}pink{% endif %}">
          <div class="ordering-item__head">
            <h2 class="ordering-item__title">{{ cat }}</h2>
            <ul class="list-reset ordering-item__head-list">
              <div class="ordering-item__head-item">Остаток</div>
              <div class="ordering-item__head-item">Цена шт.</div>
              <div class="ordering-item__head-item">Цена итого</div>
            </ul>
          </div>
          <div class="ordering-item__body">
            {% for product in products.items %}

            {% comment %} <div class="product ordering-item__product" id="item_{{product.id}}"> {% endcomment %}

              <div class="product ordering-item__product" id="item_{{product.item.id}}">
                <div class="product__items product__items--ordering">
                  <div class="product__left">
                    <img src="/media/{{ product.item.img }}" alt="product" class="image product__img">
                    <h3 class="product__title">{{ product.item.name }}</h3>
                  </div>
                  <ul class="list-reset product__right-list" id="item_{{product.item.id}}">
                    {% for availability, item in product.availability.items %}
                    <li class="product__right-item" id="item_{{ product.item.id }}_{{ availability }}">
                      {% if availability == 'stock' %}
                        <div class="product__presence product__presence--ordering">В наличии</div>
                      {% elif availability == 'way' %}
                        <div class="product__presence product__presence--blue">В пути</div>
                      {% elif availability == 'remote' %}
                        <div class="product__presence product__presence--orange">Удаленный склад</div>
                      {% endif %}
                      <div class="product__residue">{{ item.rest }}</div>
                      <div class="product__calc product-calc">
                        <button class="btn-reset product-calc__btn product-calc__btn--minus" 
                          v-on:click="minusCount({{ product.item.id }}, '{{ availability }}', {{ item.price }}, '{{ cat }}', {{product.item.list.carton}})"></button>
                        <div class="product-calc__value">
                          
                          <input type="number" v-on:input="inputCalc({{ product.item.id }}, '{{ availability }}', {{ item.price }}, '{{ cat }}', {{product.item.list.carton}})" id="count_{{ product.item.id }}_{{ availability }}" value={{ item.count }} class="input input--calc">

                          <span><span id="carton_{{ product.item.id }}_{{ availability }}">{{ item.carton }}</span> блоков <span id="remainder_{{ product.item.id }}_{{ availability }}">{{item.remainder }}</span> шт </span>
                          
                        </div>
                        

                        <button class="btn-reset product-calc__btn product-calc__btn--plus" 
                          v-on:click="plusCount({{ product.item.id }}, '{{ availability }}', {{ item.price }}, '{{ cat }}', {{product.item.list.carton}})"></button>
                      </div>
                      <div class="product__size">{{ item.price }} ₽</div>
                      <div class="product__size-all product__size-all--ordering" id="total_{{ product.item.id }}_{{ availability }}"
                        value="{{ product.item.id }}_{{ availability }}_{{ item.total }}_{{ item.count }}_{{cat}}_{{item.carton}}_{{item.remainder}}">{{ item.total }} ₽</div>
                      <button class="btn-reset product__btn product__btn--close" v-on:click="del({{ product.item.id }}, '{{ availability }}', {{ item.price }}, '{{ cat }}')"></button>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="ordering-item__bottom">
            <div class="ordering-item__total" id="{{ cat }}">Итого: {{ products.total }} ₽
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="ordering__footer ordering-footer">
        <div class="header__right ordering-footer__item">
          <ul class="list-reset header__list">
            <li class="header__item">
              <div class="header__icon">
                <img loading="lazy"
                     src="{% static 'main/img/path-green.svg' %}"
                     class="image"
                     width="22"
                     height="22"
                     alt="path">
              </div>
              <div class="header__info">
                <div class="header__crit">
                  В наличии
                </div>
                <div class="header__value" id="total_stock">
                  {{ total.stock }} ₽
                </div>
              </div>
            </li>
            <li class="header__item">
              <div class="header__icon">
                <img loading="lazy"
                     src="{% static 'main/img/path-orange.svg' %}"
                     class="image"
                     width="22"
                     height="22"
                     alt="path">
              </div>
              <div class="header__info">
                <div class="header__crit">
                  Удаленный склад
                </div>
                <div class="header__value" id="total_remote">
                  {{ total.remote }}  ₽
                </div>
              </div>
            </li>
            <li class="header__item">
              <div class="header__icon">
                <img loading="lazy"
                     src="{% static 'main/img/path-blue.svg' %}"
                     class="image"
                     width="22"
                     height="22"
                     alt="path">
              </div>
              <div class="header__info">
                <div class="header__crit">
                  В пути
                </div>
                <div class="header__value" id="total_way">
                  {{ total.way }}  ₽
                </div>
              </div>
            </li>
          </ul>
          <div class="ordering__total" value="{{ total }}" id="total">
            Всего: {{ total.total }} ₽
          </div>
        </div>
        <div class="ordering-footer__item">
          <button class="btn-reset btn-red btn-red--clear" v-on:click="busketClear()">
            Очистить корзину
          </button>
          <button class="btn-reset btn ordering-footer__btn" v-on:click="busketNext()">
            Далее
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
{%endblock%}