{% extends "main/base.html" %}
{% load static %}
{% block content %}
<main class="main">
  <section class="ordering">
    <div class="ordering__container container">
      <h1 class="ordering__title">Оформление заказа</h1>
      <div class="ordering__content">
        {% for item, products in order.items %}
        <div class="ordering__item ordering-item">
          <div class="ordering-item__head">
            <h2 class="ordering-item__title">{{item}}</h2>
            <ul class="list-reset ordering-item__head-list">
              <div class="ordering-item__head-item">Остаток</div>
              <div class="ordering-item__head-item">Цена шт.</div>
              <div class="ordering-item__head-item">Цена итого</div>
            </ul>
          </div>
          <div class="ordering-item__body">
            {% for product in products.data %}
            <div class="product ordering-item__product" id="item_{{product.product.id}}">
              <div class="product__items product__items--ordering">
                <div class="product__left">
                  <img src="/media/{{product.product.img}}" alt="product" class="image product__img">
                  <h3 class="product__title">{{product.product.name}}</h3>
                </div>
                <ul class="list-reset product__right-list">
                  <li class="product__right-item">
                    <div class="product__presence product__presence--ordering">{{product.product.availability}}</div>
                    <div class="product__residue">{{product.product.rest}}</div>
                    <div class="product__calc product-calc">
                      <button class="btn-reset product-calc__btn product-calc__btn--minus" v-on:click="minusCount({{product.product.id}}, {{product.product.price}}, {{products.cat_id}})"></button>
                      <div class="product-calc__value" value="{{product.count}}" id="count_{{product.product.id}}">
                        {{product.count}}
                      </div>
                      <button class="btn-reset product-calc__btn product-calc__btn--plus" v-on:click="plusCount({{product.product.id}}, {{product.product.price}}, {{products.cat_id}})"></button>
                    </div>
                    <div class="product__size">{{product.product.price}} ₽</div>
                    <div class="product__size-all product__size-all--ordering" value="{{product.total}}" id="total_{{product.product.id}}">{{product.total}} ₽</div>
                    <button class="btn-reset product__btn product__btn--close" v-on:click="delItem({{product.product.id}}, {{products.cat_id}})"></button>
                  </li>
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="ordering-item__bottom">
            <div class="ordering-item__total" id="catTotal_{{products.cat_id}}">Итого: {{products.total}} ₽
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="ordering__footer ordering-footer">
        <div class="header__right ordering-footer__item">
          <ul class="list-reset header__list">
            <li class="header__item">
              <div class="header__icon">
                <img loading="lazy"
                     src="{% static 'main/img/path-green.svg' %}"
                     class="image"
                     width="22"
                     height="22"
                     alt="path">
              </div>
              <div class="header__info">
                <div class="header__crit">
                  В наличии
                </div>
                <div class="header__value">
                  {* totalOne *} ₽
                </div>
              </div>
            </li>
            <li class="header__item">
              <div class="header__icon">
                <img loading="lazy"
                     src="{% static 'main/img/path-orange.svg' %}"
                     class="image"
                     width="22"
                     height="22"
                     alt="path">
              </div>
              <div class="header__info">
                <div class="header__crit">
                  Удаленный склад
                </div>
                <div class="header__value">
                  {* totalTwo *} ₽
                </div>
              </div>
            </li>
            <li class="header__item">
              <div class="header__icon">
                <img loading="lazy"
                     src="{% static 'main/img/path-blue.svg' %}"
                     class="image"
                     width="22"
                     height="22"
                     alt="path">
              </div>
              <div class="header__info">
                <div class="header__crit">
                  В пути
                </div>
                <div class="header__value">
                  {* totalThree *} ₽
                </div>
              </div>
            </li>
          </ul>
          <div class="ordering__total" value="{{ total }}" id="total">
            Всего: {{ total }} ₽
          </div>
        </div>
        <div class="ordering-footer__item">
          <button class="btn-reset btn-red btn-red--clear" v-on:click="busketClear()">
            Очистить корзину
          </button>
          <button class="btn-reset btn ordering-footer__btn" v-on:click="busketNext()">
            Далее
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
{%endblock%}