<div class="main-content__body main-body">
    <ul class="list-reset main-body__list accordion" v-for="product in products">
        <li class="main-body__item accordion-item">
            <button class="btn-reset btn--accordion main-body__accordion accordion-header">{{product.category}}</button>
            <div class="main-body__panel">
                <ul class="list-reset main-body__sublist accordion accordion-child">
                    <li class="main-body__subitem accordion-item">
                        <button class="btn-reset btn--accordion main-body__accordion accordion-header">
                            DS CORE 100
                            <div class="tooltip">
                                <img loading="lazy" src="/static/main/img/tooltip.svg" class="image" width="20" height="20"
                                    alt="tooltip">
                                <span class="tooltip__text">
                                    <ul class="list-reset tooltip__list">
                                        <li class="tooltip__item">Блок 10 шт.</li>
                                        <li class="tooltip__item">РРЦ 100 ₽/шт.</li>
                                    </ul>
                                </span>
                            </div>
                        </button>
                        <div class="main-body__panel">
                            <ul class="list-reset main-body__sublist">
                                <li class="main-body__subitem">
                                    <div class="product product--main accordion" id="product-1">
                                        <div class="product__items">
                                            <div class="product__left">
                                                <img src="/static/main/img/img.png" alt="product"
                                                    class="image product__img minimized">
                                                <h3 class="product__title">DS Core 250 «Вайт Чокомэрри»</h3>
                                                <div class="product__icon">
                                                    <img loading="lazy" src="/static/main/img/top.svg" class="image" width="23"
                                                        height="27" alt="top">
                                                </div>
                                            </div>
                                            <ul class="list-reset product__right-list">
                                                <li class="product__right-item product__right-item--main ">
                                                    <button class="btn-reset product__presence">В наличии</button>
                                                    <div class="product__residue">Много</div>
                                                    <div class="product__calc product-calc">
                                                        <button
                                                            class="btn-reset product-calc__btn product-calc__btn--minus"></button>
                                                        <div class="product-calc__value">
                                                            146
                                                            <span>14 блоков 6 шт</span>
                                                        </div>
                                                        <button
                                                            class="btn-reset product-calc__btn product-calc__btn--plus"></button>
                                                    </div>
                                                    <div class="product__size">80 ₽</div>
                                                    <div class="product__size-all">4 720 ₽</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-accordion-content">
                                        <ul class="list-reset product__right-list product__right-list--accordion">
                                            <li class="product__right-item">
                                                <div class="product__presence product__presence--ordering">В наличии
                                                </div>
                                                <div class="product__residue">Много</div>
                                                <div class="product__calc product-calc">
                                                    <button
                                                        class="btn-reset product-calc__btn product-calc__btn--minus"></button>
                                                    <div class="product-calc__value">
                                                        146
                                                        <span>14 блоков 6 шт</span>
                                                    </div>
                                                    <button
                                                        class="btn-reset product-calc__btn product-calc__btn--plus"></button>
                                                </div>
                                                <div class="product__size">80 ₽</div>
                                                <div class="product__size-all product__size-all--ordering">4 720 ₽</div>
                                            </li>
                                            <li class="product__right-item">
                                                <div class="product__presence product__presence--ordering">В наличии
                                                </div>
                                                <div class="product__residue">Много</div>
                                                <div class="product__calc product-calc">
                                                    <button
                                                        class="btn-reset product-calc__btn product-calc__btn--minus"></button>
                                                    <div class="product-calc__value">
                                                        146
                                                        <span>14 блоков 6 шт</span>
                                                    </div>
                                                    <button
                                                        class="btn-reset product-calc__btn product-calc__btn--plus"></button>
                                                </div>
                                                <div class="product__size">80 ₽</div>
                                                <div class="product__size-all product__size-all--ordering">4 720 ₽</div>
                                            </li>
                                            <li class="product__right-item">
                                                <div class="product__presence product__presence--ordering">В наличии
                                                </div>
                                                <div class="product__residue">Много</div>
                                                <div class="product__calc product-calc">
                                                    <button
                                                        class="btn-reset product-calc__btn product-calc__btn--minus"></button>
                                                    <div class="product-calc__value">
                                                        146
                                                        <span>14 блоков 6 шт</span>
                                                    </div>
                                                    <button
                                                        class="btn-reset product-calc__btn product-calc__btn--plus"></button>
                                                </div>
                                                <div class="product__size">80 ₽</div>
                                                <div class="product__size-all product__size-all--ordering">4 720 ₽</div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="main-body__subitem">
                                    <div class="product product--main">
                                        <div class="product__items">
                                            <div class="product__left">
                                                <img src="/static/main/img/img.png" alt="product"
                                                    class="image product__img minimized">
                                                <h3 class="product__title">DS Core 250 «Вайт Чокомэрри»</h3>
                                                <div class="product__icon">
                                                    <img loading="lazy" src="/static/main/img/top.svg" class="image" width="23"
                                                        height="27" alt="top">
                                                </div>
                                            </div>
                                            <ul class="list-reset product__right-list">
                                                <li class="product__right-item product__right-item--main">
                                                    <button class="btn-reset product__presence">В наличии</button>
                                                    <div class="product__residue">Много</div>
                                                    <div class="product__calc product-calc">
                                                        <button
                                                            class="btn-reset product-calc__btn product-calc__btn--minus"></button>
                                                        <div class="product-calc__value">
                                                            146
                                                            <span>14 блоков 6 шт</span>
                                                        </div>
                                                        <button
                                                            class="btn-reset product-calc__btn product-calc__btn--plus"></button>
                                                    </div>
                                                    <div class="product__size">80 ₽</div>
                                                    <div class="product__size-all">4 720 ₽</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="main-body__subitem">
                                    <div class="product product--main">
                                        <div class="product__items">
                                            <div class="product__left">
                                                <img src="/static/main/img/img.png" alt="product"
                                                    class="image product__img minimized">
                                                <h3 class="product__title">DS Core 250 «Вайт Чокомэрри»</h3>
                                                <div class="product__icon">
                                                    <img loading="lazy" src="/static/main/img/new.svg" class="image" width="25"
                                                        height="26" alt="top">
                                                </div>
                                            </div>
                                            <ul class="list-reset product__right-list">
                                                <li class="product__right-item product__right-item--main">
                                                    <button
                                                        class="btn-reset product__presence product__presence--orange">Удаленный
                                                        склад
                                                    </button>
                                                    <div class="product__residue">Много</div>
                                                    <button class="btn-reset btn btn--product product__btn">
                                                        <img loading="lazy" src="/static/main/img/path.svg" class="image" width="22"
                                                            height="22" alt="path">
                                                        Добавить
                                                    </button>
                                                    <div class="product__size">80 ₽</div>
                                                    <div class="product__size-all">4 720 ₽</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="main-body__subitem">
                                    <div class="product product--main product--none">
                                        <div class="product__items">
                                            <div class="product__left">
                                                <img src="/static/main/img/img.png" alt="product"
                                                    class="image product__img minimized">
                                                <h3 class="product__title">DS Core 250 «Вайт Чокомэрри»</h3>
                                            </div>
                                            <ul class="list-reset product__right-list">
                                                <li class="product__right-item product__right-item--main">
                                                    <div class="product__presence product__presence--gray">Нет в наличии
                                                    </div>
                                                    <div class="product__residue">—</div>
                                                    <button class="btn-reset btn btn--product product__btn">
                                                        <img loading="lazy" src="/static/main/img/path.svg" class="image" width="22"
                                                            height="22" alt="path">
                                                        Добавить
                                                    </button>
                                                    <div class="product__size">—</div>
                                                    <div class="product__size-all">—</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="main-body__subitem">
                                    <div class="product product--main">
                                        <div class="product__items">
                                            <div class="product__left">
                                                <img src="/static/main/img/img.png" alt="product"
                                                    class="image product__img minimized">
                                                <h3 class="product__title">DS Core 250 «Вайт Чокомэрри»</h3>
                                                <div class="product__icon">
                                                    <img loading="lazy" src="/static/main/img/sale.svg" class="image" width="28"
                                                        height="20" alt="top">
                                                </div>
                                            </div>
                                            <ul class="list-reset product__right-list">
                                                <li class="product__right-item product__right-item--main">
                                                    <button
                                                        class="btn-reset product__presence product__presence--blue">В пути</button>
                                                    <div class="product__residue">47 шт</div>
                                                    <button class="btn-reset btn btn--product product__btn">
                                                        <img loading="lazy" src="/static/main/img/path.svg" class="image" width="22"
                                                            height="22" alt="path">
                                                        Добавить
                                                    </button>
                                                    <div class="product__size">80 ₽</div>
                                                    <div class="product__size-all product__size-all--zero">0</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>