{% extends "main/base.html" %}

{% load static %}
{% block content %}
  <main class="main">
    <div class="main__container container">
      {% include "main/menu.html" %}
      <div class="main__content">
        <section class="filtr">
          <h2 class="filtr__title">Фильтр</h2>
          <div class="filtr__content">
            <div class="dropdown-container">
              <div class="dropdown-wrap">
                <input type="text" class="filtr__dropdown select-selected dropdown" id="plant_type" placeholder="Наличие">
                <span class="dropdown-trigger" aria-hidden="true" data-trigger="plant_type">
                  <img loading="lazy" src="{% static 'main/img/arrow-down.svg' %}" class="image" width="" height="" alt="">
                </span>
                <div class="select-items dropdown-list" >
                  <div class="dropdown-option availability" value="all" v-on:click="newFilterAvailability('all')">Все</div>
                  <div class="dropdown-option availability" value="stock" v-on:click="newFilterAvailability('stock')">В наличии</div>
                  <div class="dropdown-option availability" value="remote" v-on:click="newFilterAvailability('remote')">Удаленный склад</div>
                  <div class="dropdown-option availability" value="way" v-on:click="newFilterAvailability('way')">В пути</div>
                </div>
              </div>
            </div>
            <div class="dropdown-container">
              <div class="dropdown-wrap">
                <input type="text" class="filtr__dropdown select-selected dropdown1" id="plant_type" placeholder="Вес">
                <span class="dropdown-trigger" aria-hidden="true" data-trigger="plant_type">
                  <img loading="lazy" src="{% static 'main/img/arrow-down.svg' %}" class="image" width="" height="" alt="">
                </span>
                <div class="select-items dropdown-list1 ">
                  <div class="dropdown-option1" v-on:click="newFilterWeight(10)">10</div>
                  <div class="dropdown-option1" v-on:click="newFilterWeight(100)">100</div>
                  <div class="dropdown-option1" v-on:click="newFilterWeight(1000)">1000</div>
                  <div class="dropdown-option1" v-on:click="newFilterWeight(10000)">10000</div>
                </div>
              </div>
            </div>


            <div class="filtr__btns">
              <label class="btn-reset checkbox-btn filtr__btn">
                <input type="checkbox" v-model="status" value='top' v-on:change="newFilterStatus()">
                <span class="filtr__span filtr__span--orange">
                  <svg class="filtr__svg filtr__svg--top">
                    <use xlink:href="{% static 'main/img/sprite.svg#top' %}"></use>
                    <img style='margin-right: 33%;' src="{% static 'main/img/top.svg' %}"/>
                  </svg>
                </span>
              </label>
              <label class="btn-reset checkbox-btn filtr__btn">
                <input type="checkbox" v-model="status" value='new' v-on:change="newFilterStatus()">
                <span class="filtr__span filtr__span--green">
                  <svg class="filtr__svg filtr__svg--new">
                    <use xlink:href="{% static 'main/img/sprite.svg#new' %}"></use>
                    <img style='margin-right: 33%;' src="{% static 'main/img/new.svg' %}"/>
                  </svg>
                </span>
              </label>
              <label class="btn-reset checkbox-btn filtr__btn" style="float:right">
                <input type="checkbox" v-model="status" value='sale' v-on:change="newFilterStatus()">
                <span class="filtr__span filtr__span--red">
                  <svg class="filtr__svg filtr__svg--sale">
                    <use xlink:href="{% static 'main/img/sprite.svg#sale' %}"></use>
                    <img style='margin-right: 33%;' src="{% static 'main/img/sale.svg' %}"/>
                  </svg>
                </span>
              </label>
            </div>
          </div>
        </section>
        <section class="main-content">
          <h2 class="visually-hidden title">Каталог</h2>
          <div class="main-content__head main-head">
            <ul class="list-reset main-head__list">
              <li class="main-head__item">Наименование</li>
              <li class="main-head__item">Выбор склада</li>
              <li class="main-head__item">Остаток</li>
              <li class="main-head__item">Цена шт.</li>
              <li class="main-head__item">Цена итого</li>
            </ul>
          </div>
          <app-products :products="products">
            
          </app-products>
          
        </section>
      </div>
    </div>
  </main>
  
{% endblock %}
