{% extends "main/base.html" %}

{% load static %}
{% block content %}
  <main class="main" id='app'>
    <div class="payment__container container">
      <h1 class="payment__title">Оформление заказа {{order_id}} на сумму {{total}} ₽</h1>
      <form action="#" id='form' class="payment-form payment__form form">
        <ul class="list-reset payment-form__list form__list">
          <li class="payment-form__item form__item">
            {% csrf_token %}
            <h2 class="payment-form__item-title">Способ получения заказа</h2>
            <div class="payment-form__item-form">
              <label class="custom-checkbox payment-form__checkbox">
                Доставка
                <input type="radio"
                       name="radiodelivery"
                       value="Доставка"
                       class="custom-checkbox__field"
                       checked="checked">
                <span class="custom-checkbox__content"></span>
              </label>
              <label class="custom-checkbox payment-form__checkbox">
                Самовывоз
                <input type="radio" value="Самовывоз" name="radiodelivery" class="custom-checkbox__field">
                <span class="custom-checkbox__content"></span>
              </label>
            </div>
          </li>
          <li class="payment-form__item form__item">
            <h2 class="payment-form__item-title">Точка доставки заказа</h2>
            <div class="payment-form__item-form payment-form__item-form--column">
              {% for address in deliveryAddresses %}
              <label class="custom-checkbox payment-form__checkbox--column">
                {{address.address}}
                <input type="radio"
                       name="radioaddress"
                       value="{{address.id}}"
                       class="custom-checkbox__field"
                       checked="checked">
                <span class="custom-checkbox__content"></span>
              </label>
              {% endfor %}
              {% comment %} <label class="custom-checkbox payment-form__checkbox--column">
                Якова Гарелина 2А / 145010, Россия, Иваново / Марракеш Ясень
                <input type="radio" name="radio" class="custom-checkbox__field">
                <span class="custom-checkbox__content"></span>
              </label> {% endcomment %}
            </div>
          </li>
          <li class="payment-form__item form__item">
            <h2 class="payment-form__item-title">Способ оплаты</h2>
            <div class="payment-form__item-form">
              <label class="custom-checkbox payment-form__checkbox">
                Наличными
                <input type="radio"
                       name="radiopay"
                       value="Наличными"
                       class="custom-checkbox__field"
                       checked="checked">
                <span class="custom-checkbox__content"></span>
              </label>
              <label class="custom-checkbox payment-form__checkbox">
                Расчетный
                <input type="radio" name="radiopay" value="Расчетный" class="custom-checkbox__field">
                <span class="custom-checkbox__content"></span>
              </label>
            </div>
          </li>
          <li class="payment-form__item form__item">
            <h2 class="payment-form__item-title">Комментарий к заказу</h2>
            <div class="payment-form__item-form">
              <textarea class="payment-form__textarea"
                        placeholder="Введите комментарии"
                        name="comment"></textarea>
            </div>
            
          </li>
          
        </ul>
        
      </form>
      <div class="payment-form__bottom">
        <button class="btn-reset form__btn btn payment-form__btn" @click="sendOrder()" data-btn-popup>Оформить заказ</button>
      </div>
    </div>
  </main>
  <div class="popup-payment" data-main-popup>
    <div class="graph-modal__container popup-payment__container"
         role="dialog"
         aria-modal="true">
      <button class="btn-reset js-modal-close graph-modal__close"
              aria-label="Закрыть модальное окно"
              data-close-popup>
      </button>
      <div class="graph-modal__content popup-payment__content">
        <div class="popup-payment__img">
          <img loading="lazy"
               src="{% static 'main/img/popup-img.svg' %}"
               class="image"
               width="64"
               height="64"
               alt="success">
        </div>
        <h2 class="popup-payment__title">Заказ {{order_id}} оформлен</h2>
        <p class="popup-payment__descr">В ближайшее время с Вами свяжется менеджер для подтверждения заказа</p>
        <button class="btn-reset btn popup-payment__btn" data-close-popup-btn>Закрыть</button>
      </div>
    </div>
  </div>
{% endblock %}
